  footer{
    background-color: $primary;
    padding-top: 48px;
    .navInfoSocial{
      display: flex;
      justify-content: space-between;
      border-bottom:1px solid #fff;    
            
     }
   
  }
  .navInfo{
    
    .contact-nav{
     display: flex;
     justify-content: space-between;
     li{
      &:hover {
      @include linkHover;
    }}
     }
    .contact-info{
    margin-top: 44px;
     margin-bottom: 32px;
    li{
      &:hover {
        @include linkHover;
      }
    }
  li{
   display: flex;
   align-items: center;

   .material-symbols-outlined {
      padding-right: 22px;
      color:#fff
     
   }
    a{
      font-size: 36px;
      }
  }
    }
  }
  
  .social{
   li{
    &:not(:last-child){
      margin-right: 32px;
    }
   } 
    .icon{
      &:hover {
        // filter: invert(0.4) sepia(0.7) hue-rotate(226deg) saturate(2);
        @include linkHover;
      }
      width: 48px;
      height: 48px;  }
   }

  .copyRight{
    padding: 32px 12px;
      color: #fff;
      .policy{
        display: flex;
        a{
          display: block;
          
        }
      }
  }
  //footer RWD
  //ipod
  // @media(max-width:768px)
  
  // phone
  @media(max-width:576px){
    footer{
      padding-top: 24px;
      .container{
        max-width: 375px;
        display: flex;
        flex-direction: column;
        .contact{
   
          .contact-nav{
              :not(:last-child) {
              margin-right: 0px;
          }
          display: none;
            // font-size: 4px;
      // opacity: 0;    
          }
          .contact-info{
            width: 70%;
        padding-bottom: 0;
            li{
              padding-bottom: 8px;
              .material-icons {
                font-size: 18px;
              }
              a{
                font-size: 16px;
              }
            }
            
          }
      
          .social{
            order: 1;
      
            li{
            margin-right: 8px;
          
            img{
              width: 24px;
              height: 24px;
            }
          }
          }
        }
      }
      .copyRight{
    flex-direction: column;
    padding-top: 16px;
    padding-bottom: 24px;
  
    .policy{
      flex-direction: column;
      p{
        font-family: "Noto Sans TC";
      }
  
    }
      }
     
      
    }
  }  