// h1
header{
    background-color:$primary;
    .container{
    
      @include phone{
    padding: 0 20px;
    }}
   h1{
  
    a{
    background-image: url("../images/logo-white.png");
    background-size: cover;
    width: 90px;
    height: 55px;
    // 圖片取代文字技巧
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
    display: block;
   
   }
  }
}

// nav
header{
  
  @include phone{
    width: 100%;
    position: fixed;
  }
}
  .nav{
    :not(:last-child){ margin-right: 64px;}

    @include phone{
      :not(:last-child){ margin-right: 0px;}
      position: absolute;
      display: none;
      width: 100%;
      max-height: 500px;
      top: 85px;
       text-align: center;
    }      
    .nav-item{
         font-size: $h5-text;
         font-weight: normal;
         @include phone{
          background-color: rgba(0, 0, 0, 0.8);
         }
         a{
          display: block;
          @include phone{
            padding: 16px 0;
          }
         }
    }
  }
// RWD 漢堡選單
.navBtn{
  display: none;
  @include phone{
    display: block;
  }
  a{
    display: block;
    .material-symbols-outlined {
      color:white;
      font-size: 48px;
  }
  }
}











