header{
    background-color:$primary;
   h1{
    a{
    background-image: url("../images/logo-white.png");
    background-size: cover;
    width: 90px;
    height: 55px;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
    display: block;
   }
  }

  }
 header .container{
    ul{
       :not(:last-child){ margin-right: 64px;}
        li{
          font-size: 20px;
          font-weight: normal;
          }
       }
  }
  //header RWD
  @media(max-width:576px){
    header{
    .container{
   
      padding: 0;
      flex-direction: column;
    ul{ 
      :not(:last-child){
      margin-right: 0;
      }
      li{
      width: 50%;
      font-size: 16px;
      padding: 12px 60px;
      text-align: center;
      border:1px solid #fff;
      
    }
    }
  }}
  } 



