  .banner{
    background-image: url("../images/home-header.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    // .container{
    // text-align: right;
    // }
  }
  .title{
    color:$secondary;
   text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
    span{
      font-size: $h3-text;
    }
   
    h2{
      font-size: 68px;
      font-weight: bold;
      color:$secondary;
 
    }
    button{
      border-width: 0;
    a{
      background-color:$primary;
      color: #fff;
        font-size: $h5-text;
        padding: 6px 12px;
   
    }
       
      }
 
    
  }
  //banner RWD
  @media (max-width:576px){
    .banner{
      max-width: 372px;
      background-image: url("../images/product-header-sm-1.png"),url("../images/product-header-sm-2.png");
      background-repeat: no-repeat,no-repeat;
      background-position: top left ,top right;
      background-size: 188px 136px;
                        
     
  }
    .title{
      display: none;
    }
   
  }
  
  .do{
    background-color:#FBF2F2;
    h2{
      @include subTitle;
      padding-bottom: 32px;
    }
    ul{
      display: flex;
      justify-content: space-between;
      text-align: center;
  
    }
      li{

        width: calc(25% - 24px);
            padding-bottom: 80px;
    img{
      width: 100px;
    }
   
    h3{
      color: #650300;
      font-size: $h4-text;
      font-weight: 700;
      
    }
    p{
      font-size: $font-size-base;
text-align: left;
    }
     }
  }

.classic{
  h2{
    @include subTitle;
  }
  
  ul{
    display: flex;
    justify-content: space-between;
    li{
    width: calc(33.33% - 24px);
    }
  }
  h3{
    font-size: $h2-text;
    color: $primary;
    font-weight:900;
    font-style: italic;
    text-align: center;
    padding-bottom: 80px;
  
  }
}

  .design{
    background-image: url("../images/index-bg.png");
    h2{
      @include subTitle;
      color:#fff ;
  
   
      padding-bottom: 48px;
     }
     ul{
      display: flex;
      li{
        max-width: 50%;
        h3{
         padding: 8px 0;
         color:$primary;
          background-color: #fff;
          font-size: 48px;
          font-weight: 700;
          font-style: italic;
          text-align: center;
        }
      }
     }
     padding-bottom: 80px;
    
   
  }

  .review{
    h2{
     @include subTitle
    }
    ul{
      display: flex;
      padding-bottom: 80px;
      justify-content: space-between;
     
      li{
        width: calc(25% - 24px);
        box-shadow: 0 2px 6px #00000029;
        border-radius: 4px;
       
        span{
      
       font-size: 14px;
       color: #707070;
      
        }
      }
    }
 
  }

  .meg{
    background-color:$lightBg;
    .container{
      max-width: 636px;
      margin: 0 auto;
      padding-bottom: 80px;
  
      h2{
        @include subTitle;
      }
      p{
        font-size: $h5-text;
        padding-bottom: 24px;
      }
  
    }
    label{
      margin-bottom: 8px;
     
      width: 100%;
    }
     input{
      width: 100%;
      background-color:$lightBg;
      padding: 6px 12px;
      
    }
  }
       .message{
        padding: 6px 12px;
        background-color:$lightBg;     
        height: 136px;
       }
       .checkBoxSet{
        display: flex;
        align-items: flex-start;
       }
      .checkbox{
        width: 24px;
        height: 24px;
        margin-right: 5px;
        }
      .btn{
          // margin: 0 50px 80px 105px;
  display: block;
  margin: 0 auto;
          background-color: $primary;
          width: 70%;
          padding-top: 16px;
          padding-bottom: 16px;
          color: #fff;
          a{
            font-size: 24px;
          }
        } 
  
    .meg input.checkbox{
      width: 24px;
      height: 24px;
      }     
  
    

