.products {
  display: flex;
  justify-content: space-evenly;
  // padding-bottom: 24px;

  text-align: center;
  li {
    width: 100%;
    padding-top: 24px;
    padding-bottom: 24px;
    &:not(:last-child) {
      border-right: 1px solid #dcdcdc;
    }

    a {
      color: black;
      font-size: 32px;
    }
  }
}

.active {
  border-bottom: 5px solid #aa0601;
}

.prodBanner {
  .prodBanner-left {
    background-image: url("../images/product-header-1.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 296px;
    max-width: 50%;
    background-position: top left;
    display: inline;
  }

  .prodBanner-right {
    background-image: url("../images/product-header-2.png");
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 50%;
    height: 296px;
    background-position: top right;
  }
}
