.meg{
    background-color: #fbf2f2;
    .form{
      
     margin: 0 auto;
      max-width: 636px;
      h2{
        padding-bottom: 48px;
      }
      p{
        font-size: 20px;
        padding-bottom: 24px;
      }
  
        label{
          margin:10px;
          display:block;
        }
        input{
          width: 100%;
        }
        .info{
          height: 136px;
        }
     
      
      
    }
    
  
    
     
  
    
  }