.design{
    background-color:red;
    h2{
   
      color:#fff ;
  
   
      padding-bottom: 48px;
     }
     ul{
      display: flex;
      li{
        max-width: 50%;
        h3{
         padding: 8px 0;
         color: #AA0601;
          background-color: #fff;
          font-size: 48px;
          font-weight: 700;
          font-style: italic;
          text-align: center;
        }
      }
     }
     padding-bottom: 80px;
    
   
  }