.review{
    h2{
      padding-bottom: 48px;
    }
    ul{
      display: flex;
      padding-bottom: 80px;
    
      :not(:last-child){ margin-right: 24px;}
      li{
        max-width: 25%;
        box-shadow: 0 2px 6px #00000029;
        border-radius: 4px;
       
        span{
       font-size: 14px;
       color: #707070;
      
        }
      }
    }
  
  }