@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Roboto:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1.5;
  font-family: "Noto Sans TC","Roboto", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Microsoft JhengHei",  "Helvetica Neue", "sans-serif"; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.material-icons.md-18 {
  font-size: 18px; }

.material-icons.md-36 {
  font-size: 36px; }

.material-icons.md-40 {
  font-size: 40px; }

.material-icons.md-48 {
  font-size: 48px; }

*, *::before, *::after {
  line-height: 1.5;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Noto Sans TC", "Roboto", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Microsoft JhengHei", "Helvetica Neue", "Noto Sans TC", sans-serif; }

a {
  text-decoration: none;
  color: white;
  display: block; }
  a:hover {
    color: gray; }

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto; }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.jcc {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.jcsb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.jcsa {
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.a-items-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.text-a-c {
  text-align: center; }

.p-4 {
  padding: 16px; }

.pt-8 {
  padding-top: 32px; }

.pt-18 {
  padding-top: 72px; }

.py-4 {
  padding-top: 16px;
  padding-bottom: 16px; }

.pb-2 {
  padding-bottom: 8px; }

.pb-8 {
  padding-bottom: 32px; }

.pb-11 {
  padding-bottom: 44px; }

.pb-12 {
  padding-bottom: 48px; }

.pb-18 {
  padding-bottom: 72px; }

.pl-4 {
  padding-right: 16px; }

.pr-12 {
  padding-right: 48px; }

.pr-16 {
  padding-right: 64px; }

.mr-12 {
  margin-right: 48px; }

.mr-16 {
  margin-right: 64px; }

.mb-4 {
  margin-bottom: 16px; }

.mr-8 {
  margin-right: 32px; }

.mb-12 {
  margin-bottom: 48px; }

.mb-20 {
  margin-bottom: 80px; }

.text-white {
  color: #fff; }

.borderB-white {
  border-bottom: 1px solid #fff; }

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 12px; }

header {
  background-color: #AA0601; }
  @media (max-width: 576px) {
    header .container {
      padding: 0 20px; } }
  header h1 a {
    background-image: url("../images/logo-white.png");
    background-size: cover;
    width: 90px;
    height: 55px;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
    display: block; }

@media (max-width: 576px) {
  header {
    width: 100%;
    position: fixed; } }

.nav :not(:last-child) {
  margin-right: 64px; }

@media (max-width: 576px) {
  .nav {
    position: absolute;
    display: none;
    width: 100%;
    max-height: 500px;
    top: 85px;
    text-align: center; }
    .nav :not(:last-child) {
      margin-right: 0px; } }

.nav .nav-item {
  font-size: 1.25rem;
  font-weight: normal; }
  @media (max-width: 576px) {
    .nav .nav-item {
      background-color: rgba(0, 0, 0, 0.8); } }
  .nav .nav-item a {
    display: block; }
    @media (max-width: 576px) {
      .nav .nav-item a {
        padding: 16px 0; } }

.navBtn {
  display: none; }
  @media (max-width: 576px) {
    .navBtn {
      display: block; } }
  .navBtn a {
    display: block; }
    .navBtn a .material-symbols-outlined {
      color: white;
      font-size: 48px; }

.banner {
  background-image: url("../images/home-header.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 768px) {
    .banner {
      background-image: url("../images/home-header-sm.png");
      background-repeat: no-repeat;
      background-position: center;
      height: 787px; } }
  @media (max-width: 576px) {
    .banner {
      height: 396px;
      background-position: 0 70px; } }
  .banner .container {
    width: 100%; }
    @media (max-width: 768px) {
      .banner .container {
        padding: 0 36px; } }

.title {
  color: #650300;
  text-align: right; }
  .title span {
    font-size: 2.25rem; }
    @media (max-width: 576px) {
      .title span {
        font-size: 1rem; } }
  .title h2 {
    font-size: 68px;
    font-weight: bold;
    color: #650300; }
    @media (max-width: 576px) {
      .title h2 {
        font-size: 1.5rem; } }
  .title button {
    border-width: 0; }
    .title button a {
      background-color: #AA0601;
      color: #fff;
      font-size: 1.25rem;
      padding: 6px 12px; }

.do {
  background-color: #FBF2F2; }
  @media (max-width: 768px) {
    .do {
      padding-bottom: 80px; } }
  @media (max-width: 576px) {
    .do {
      padding-bottom: 40px; } }
  .do h2 {
    font-size: 3rem;
    color: #650300;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 48px;
    font-weight: 700;
    padding-bottom: 32px; }
    @media (max-width: 576px) {
      .do h2 {
        font-size: 1.5rem;
        padding-top: 40px; } }
  .do ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: center; }
    @media (max-width: 768px) {
      .do ul {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; } }
  .do li {
    width: calc(25% - 24px);
    padding-bottom: 80px; }
    @media (max-width: 768px) {
      .do li {
        width: calc(50% - 24px);
        padding-bottom: 36px; } }
    @media (max-width: 576px) {
      .do li {
        width: calc(100% - 13px);
        padding-bottom: 32px; } }
    .do li img {
      width: 100px; }
    .do li h3 {
      color: #650300;
      font-size: 1.5rem;
      font-weight: 700; }
    .do li p {
      font-size: 1rem;
      text-align: left; }

@media (max-width: 768px) {
  .classic {
    margin-bottom: 80px; } }

@media (max-width: 576px) {
  .classic {
    margin-bottom: 40px; } }

.classic h2 {
  font-size: 3rem;
  color: #650300;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 48px;
  font-weight: 700; }
  @media (max-width: 576px) {
    .classic h2 {
      font-size: 1.5rem;
      padding-top: 40px;
      padding-bottom: 24px; } }

.classic ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  @media (max-width: 768px) {
    .classic ul {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  .classic ul li {
    width: calc(33.33% - 24px); }
    @media (max-width: 768px) {
      .classic ul li {
        width: 55%; } }
    @media (max-width: 576px) {
      .classic ul li {
        width: 100%; } }

.classic h3 {
  font-size: 3rem;
  color: #AA0601;
  font-weight: 900;
  font-style: italic;
  text-align: center;
  padding-bottom: 80px; }
  @media (max-width: 768px) {
    .classic h3 {
      padding-top: 8px;
      padding-bottom: 24px; } }

.design {
  background-image: url("../images/index-bg.png");
  padding-bottom: 80px; }
  @media (max-width: 576px) {
    .design {
      padding-bottom: 40px; } }
  .design h2 {
    font-size: 3rem;
    color: #650300;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 48px;
    font-weight: 700;
    color: #fff; }
    @media (max-width: 576px) {
      .design h2 {
        padding-top: 40px;
        padding-bottom: 24px; } }
  .design ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .design ul li {
      width: 50%; }
      @media (max-width: 768px) {
        .design ul li {
          width: 100%;
          margin-bottom: 24px; } }

.design h3 {
  padding: 8px 0;
  color: #AA0601;
  background-color: #fff;
  font-size: 48px;
  font-weight: 700;
  font-style: italic;
  text-align: center; }

.review h2 {
  font-size: 3rem;
  color: #650300;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 48px;
  font-weight: 700; }
  @media (max-width: 576px) {
    .review h2 {
      font-size: 1.5rem;
      padding-top: 40px;
      padding-bottom: 24px; } }

.review ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 80px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  @media (max-width: 576px) {
    .review ul {
      padding-bottom: 40px; } }
  .review ul li {
    width: calc(25% - 24px);
    -webkit-box-shadow: 0 2px 6px #00000029;
            box-shadow: 0 2px 6px #00000029;
    border-radius: 4px; }
    @media (max-width: 768px) {
      .review ul li {
        width: calc(50% - 24px);
        margin-bottom: 24px; } }
    @media (max-width: 576px) {
      .review ul li {
        width: 100%; } }

.review span {
  font-size: 1rem;
  color: black;
  font-weight: 700; }

@media (max-width: 576px) {
  .review p {
    padding-bottom: 96px; } }

.meg {
  background-color: #FBF2F2; }
  .meg .container {
    max-width: 636px;
    margin: 0 auto;
    padding-bottom: 80px; }
    @media (max-width: 576px) {
      .meg .container {
        padding-bottom: 40px; } }
    .meg .container h2 {
      font-size: 3rem;
      color: #650300;
      text-align: center;
      padding-top: 80px;
      padding-bottom: 48px;
      font-weight: 700; }
      @media (max-width: 768px) {
        .meg .container h2 {
          padding-bottom: 24px; } }
      @media (max-width: 576px) {
        .meg .container h2 {
          font-size: 1.5rem;
          padding-top: 40px;
          padding-bottom: 24px; } }
    .meg .container p {
      font-size: 1.25rem;
      padding-bottom: 24px; }
      @media (max-width: 768px) {
        .meg .container p {
          font-size: 1rem; } }
  .meg label {
    margin-bottom: 8px;
    width: 100%; }
  .meg input {
    width: 100%;
    background-color: #FBF2F2;
    padding: 6px 12px; }

.message {
  padding: 6px 12px;
  background-color: #FBF2F2;
  height: 136px; }

.checkBoxSet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }
  @media (max-width: 576px) {
    .checkBoxSet {
      padding-bottom: 24px; } }

.info {
  height: 136px;
  resize: none; }

.btn {
  display: block;
  margin: 0 auto;
  background-color: #AA0601;
  width: 70%;
  padding-top: 16px;
  padding-bottom: 16px;
  color: #fff; }
  @media (max-width: 768px) {
    .btn {
      width: 60%; } }
  @media (max-width: 576px) {
    .btn {
      width: 100%; } }
  .btn a {
    font-size: 1.5rem; }
    @media (max-width: 768px) {
      .btn a {
        font-size: 1rem; } }

.meg input.checkbox {
  width: 24px;
  height: 24px;
  margin-right: 5px; }

footer {
  background-color: #AA0601;
  padding-top: 48px; }
  @media (max-width: 576px) {
    footer {
      padding-top: 24px; } }
  footer .navInfoSocial {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-bottom: 1px solid #fff; }

.navInfo .contact-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 576px) {
    .navInfo .contact-nav {
      display: none; } }
  .navInfo .contact-nav li:hover {
    -webkit-filter: invert(0.4) sepia(0.7) hue-rotate(226deg) saturate(2);
            filter: invert(0.4) sepia(0.7) hue-rotate(226deg) saturate(2); }

.navInfo .contact-info {
  margin-top: 44px;
  margin-bottom: 32px; }
  @media (max-width: 576px) {
    .navInfo .contact-info {
      margin: 0 auto 24px; } }
  .navInfo .contact-info li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .navInfo .contact-info li:hover {
      -webkit-filter: invert(0.4) sepia(0.7) hue-rotate(226deg) saturate(2);
              filter: invert(0.4) sepia(0.7) hue-rotate(226deg) saturate(2); }
    .navInfo .contact-info li .material-symbols-outlined {
      padding-right: 22px;
      color: #fff; }
      @media (max-width: 576px) {
        .navInfo .contact-info li .material-symbols-outlined {
          font-size: 18px;
          padding-right: 11px; } }
    .navInfo .contact-info li a {
      font-size: 36px; }
      @media (max-width: 576px) {
        .navInfo .contact-info li a {
          font-size: 16px; } }

.social li:not(:last-child) {
  margin-right: 32px; }
  @media (max-width: 768px) {
    .social li:not(:last-child) {
      margin-right: 16px; } }
  @media (max-width: 576px) {
    .social li:not(:last-child) {
      margin-right: 8px; } }

.social .icon {
  width: 48px;
  height: 48px; }
  .social .icon:hover {
    -webkit-filter: invert(0.4) sepia(0.7) hue-rotate(226deg) saturate(2);
            filter: invert(0.4) sepia(0.7) hue-rotate(226deg) saturate(2); }
  @media (max-width: 768px) {
    .social .icon {
      width: 40px;
      height: 40px; } }
  @media (max-width: 576px) {
    .social .icon {
      width: 24px;
      height: 24px; } }

.copyRight {
  padding: 32px 12px;
  color: #fff; }
  @media (max-width: 576px) {
    .copyRight {
      padding-top: 16px;
      padding-bottom: 24px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  .copyRight .policy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 576px) {
      .copyRight .policy {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
    .copyRight .policy a {
      display: block;
      font-size: 14px; }
      @media (max-width: 576px) {
        .copyRight .policy a {
          font-size: 1rem; } }

/*# sourceMappingURL=all.css.map */
